:root{
    --clr-white: hsl(0, 0%, 100%);
    --clr-Light-gray: hsl(212, 45%, 89%);
    --clr-blue: hsl(220, 15%, 55%);
    --clr-shadow-blue: hsl(218, 44%, 22%);
    
    --spacing: 1.2rem;
    --spacing-mq: 1.5vw;
    --border-radius: 10px;

    --fw-400: 400;
    --fw-700: 700;
    --ff-outfit:'Outfit', sans-serif;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color:var(--clr-Light-gray);
    position: relative;
}
.container{

    margin: 1rem;
    padding: 1rem;
    text-align: center;

    border-radius: var(--border-radius);
    background-color: var(--clr-white);
    
}
header .card__image{
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}
.card__title{
    font-size: 1.5rem;
    color: var(--clr-shadow-blue);
    margin: var(--spacing) 0rem;
    font-family: var(--ff-outfit);
}
.card__body{
    font-size: 1rem;
    color: var(--clr-blue);
    margin-bottom: var(--spacing);    
}


@media only screen and (min-width: 475px){
    .container{
        width: min(40vw,19em);
        height: fit-content;
    }
    .card__title{
        font-size: clamp(1.2rem,3vw,2rem);
        margin: var(--spacing-mq) 0rem;
        font-family: var(--ff-outfit);
    }
    .card__body{
        font-size: clamp(.7rem,1.5vw,1rem);
        margin-bottom: var(--spacing-mq);    
    }
}
.attribution {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    font-size: var(--fs-p);
    text-align: center;
    color: var(--primary);
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}